@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
  height: 60px;
  background: rgb(156, 185, 240);
  position: fixed;
  z-index: 2;
}

.navbar > ul {
  display: flex;
  justify-content: center;
}

.navbar ul li {
  position: relative;
}

.navbar ul li a {
  display: block;
  color: rgb(0, 0, 0);
  height: 60px;
  width: 300px;
  text-align: center;
  padding: 20px 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: all 0.2s ease;
  font-weight: 800;
}

.navbar ul > li a {
  margin-right: 1px;
}

.navbar ul > li:last-child a {
  margin-right: 0;
}

.navbar ul li a .icon {
  width: 25px;
  display: inline-block;
}

.navbar ul li a:hover,
.navbar ul li a.a_parent.active,
.navbar .dd_menu ul li a:hover,
.navbar .dd_menu ul li a.active {
  background: #6193f0;
  transition: linear 600ms;
}

#poza_header {
  background-image: url(poze/rn0.jpg);
  width: 100%;
  height: 30vw;
  background-position-y: 92%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#text_header {
  display: block;
  text-align: justify;
  justify-content: center;
  position: relative;
  top: 30%;
  left: 20%;
  width: 60%;
  background-color: rgba(248, 252, 253, 0.8);
  padding: 20px;
  border-radius: 25px;
  border: 2px solid black;
}
p1 {
  font-family: "Leckerli One", cursive;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 0.5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

h1 {
  font-size: 20px;
  padding: 40px;
  font-family: "Sen", sans-serif;
  text-align: justify;
  font-weight: 300;
}

h4 {
  font-size: 25px;
  padding: 30px;
  font-family: "Sen", sans-serif;
  text-align: justify;
  font-weight: 400;
}

#index-galerie {
  width: 80%;
  margin-left: 10%;
  margin-top: 3%;
  display: grid;
  grid-template: auto/ repeat(3, 1fr);
  gap: 30px;
  grid-template-areas:
    "img1 img2 img3  "
    "img4 img5 img6 ";
}

#index-galerie .imagini-galerie {
  width: 100%;
  height: 325px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: 1px solid black;
}

#index-galerie .img1 {
  grid-area: img1;
  background-image: url("poze/rn1.jpg");
}

#index-galerie .img2 {
  grid-area: img2;
  background-image: url("poze/rn2.jpg");
}

#index-galerie .img3 {
  grid-area: img3;
  background-image: url("poze/rn3.jpg");
}

#index-galerie .img4 {
  grid-area: img4;
  background-image: url("poze/rn4.jpg");
}

#index-galerie .img5 {
  grid-area: img5;
  background-image: url("poze/rn5.jpg");
}

#index-galerie .img6 {
  grid-area: img6;
  background-image: url("poze/rn6.jpg");
}

.imagini-galerie div {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagini-galerie a {
  font-family: "Titillium Web", "Orelega One", sans-serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.imagini-galerie div:hover {
  opacity: 0.8;
  transition: all ease-in-out 300ms;
}

.fereastra-img {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.fereastra-img img {
  max-height: 80vh;
  max-width: 80vw;
}

#blank {
  height: 50px;
  background-color: #e8f4f8;
}

body {
  background-color: #e8f4f8;
}
